# Structural libraries
pip>=24.1.2
pylint==3.0.0
pytest==8.1.2
pytest-cov==4.1.0
black==23.9.1
pydantic
#ipython==8.13.0

# Web framework
streamlit==1.50.0
watchdog==4.0.0

# Data manipulation and visualization libraries
numpy==1.26.4
pandas==2.3.2
openpyxl==3.1.2
plotly==5.18.0
matplotlib


# Streamlit libraries
streamlit==1.50.0
streamlit-plotly-events

# Seach with fuzzy matching
rapidfuzz==3.5.2
unidecode==1.3.7

# Supabase
supabase==2.0.3
python-dotenv==1.0.0

# Personal libraries
#mimufs==0.1.1

# NLP libraries
#pyperclip
#transformers
#torch
#icd10-cm

#docker