# Structural libraries
pip>=25.3
pylint==4.0.2
pytest==8.4.2
pytest-cov==7.0.0
black==25.9.0
pydantic==2.12.3
pydantic-core==2.41.4
click==8.3.0
#ipython==8.13.0


# Web framework
streamlit==1.51.0
watchdog==4.0.0
h11==0.14.0

# Data manipulation and visualization libraries
numpy==2.3.4
pandas==2.3.3
openpyxl==3.1.5
plotly==6.3.1
matplotlib==3.10.7
altair==5.5.0

# Seach with fuzzy matching
rapidfuzz==3.14.3
unidecode==1.4.0

# Supabase
supabase==2.0.3
python-dotenv==1.2.1

# Support libraries
cachetools==6.2.1
blinker==1.9.0
pyarrow==21.0.0


# Personal libraries
#mimufs==0.1.1

# NLP libraries
#pyperclip
#transformers
#torch
#icd10-cm