{% extends "base.html" %}

{% block content %}
<div class="intro-home">
    <hgroup>
        <h1>mgfhub</h1>
        <p>Ferramenta de pesquisa e análise de indicadores dos Cuidados de Saúde Primários portugueses</p>
    </hgroup>

    <p>O mgfhub é uma plataforma de acesso aberto que disponibiliza informação e
    relatórios automáticos sobre os indicadores dos Cuidados de Saúde Primários
    portugueses.</p>

    <p>Na secção <strong>Indicadores</strong> pode pesquisar entre os mais de 460
    indicadores existentes, filtrando por IDE, IDG ou todos.</p>

    <p>Na secção <strong>IDE</strong> pode gerar relatórios automáticos sobre a
    performance dos indicadores de uma unidade ou de um profissional, com
    visualizações detalhadas, comparação temporal e filtros, a partir do upload
    de uma tabela do BI-CSP e outra do MIM@UF.</p>
</div>
{% endblock %}
